<html>
    <head>
            <title>Contact Us</title>
    </head>

    <body>
        <form>
            <br>
            <label>Fullname :<input type="text" name="fullname" /></label><br><br>
            <label>Type:
                <select name="type">
                    <option value="suggestion"> suggestion </option>
                    <option value="complaint"> complaint </option>  
                </select> 
            </label><br><br>
            <label>Message:
                <textarea name="message" rows="4" cols="50"></textarea>
            </label>
        </form>
    </body>
</html>