<html>
    <head>
            <title>Contact Us</title>
    </head>

    <body>


        <% for(var err of errors){ %>
            <%=err.msg %> <br>
        <% } %>
        <form action="/contactus" method="POST">
            <br>
            <label>Fullname :<input type="text" name="fullname" /></label><br><br>
            <label>Type:
                <select name="type">
                    <option value="suggestion"> suggestion </option>
                    <option value="complaint"> complaint </option>  
                </select> 
            </label><br><br>
            <label>Message:
                <textarea name="message" rows="4" cols="50"></textarea>
            </label>
            <br><br>
            <input type="submit" />
        </form>
    </body>
</html>